NAME=fiat
AVATAR=https://www.google.com/imgres?q=logo%20fiat&imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F12%2FFiat_Automobiles_logo.svg%2F2048px-Fiat_Automobiles_logo.svg.png&imgrefurl=https%3A%2F%2Fpt.wikipedia.org%2Fwiki%2FFicheiro%3AFiat_Automobiles_logo.svg&docid=y58hl56tZboQHM&tbnid=zYX3t_5cIfHknM&vet=12ahUKEwiBzZjft_yJAxUWjZUCHcrmOQkQM3oECHYQAA..i&w=2048&h=2048&hcb=2&ved=2ahUKEwiBzZjft_yJAxUWjZUCHcrmOQkQM3oECHYQAA
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools